                        <div class="entry">
                            <div class="entry-header">
                                <div class="title">Privacy Policy</div>
                            </div>
                            <div class="entry-body">
                                <div class="content">
                                    This site (blog.ptrace.dev) serves <b>no</b> cookies.<br>
                                    <br>
                                    It only collects the IP address for <b>max 7 days</b>, so I'm able to:<br> 
                                    1. detect, ban and report excessive HTTP requests<br>
                                    2. debugging the server<br>
                                    <br>
                                    Other than the mentioned items, this site collects no data.
                                </div>
                            </div>
                        </div>
