                        <div class="entry">
                            <div class="entry-header">
                                <div class="title">{{ TITLE }}</div>
                                <div class="enav">{{ DATE }}</div>
                            </div>
                            <div class="entry-body">
                                <div class="content">
                                    {{ CONTENT }}
                                </div>
                            </div>
                        </div>
