<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="css-file" rel="stylesheet" type="text/css" href="{{ RELATIVE }}style.css">
    <link rel="icon" type="image/x-icon" href="{{ RELATIVE }}favicon.ico">
    <title>ptrace devblog</title>
</head>
<body>
    <div class="main-wrapper">
        <div class="child-wrapper">
            <div class="header">
                <span class="header-title">ptrace devblog</span><br>
                <span class="header-subtitle">No cookies, no JS</span>
            </div>
            <div class="nav-top">
                <div class="nav-list">
                    <ul>
                        <li><a href="/">Posts</a></li>
                        <li><a href="/overview">Overview</a></li>
                    </ul>
                </div>
            </div>
            <div class="mid-section">

